h1 {
    color: rebeccapurple;
}

#cal-cont {
    display: flex;              
    flex-direction: column;     
    justify-content: center;    
    align-items: center;        
    height: 300px;
    border: 2px solid blue;
}

.calendar {
    width: 300px;
    margin: 5px;
    text-align: center;
}